In [1]:
# import libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
# get current workign directory
os.getcwd()

'C:\\Users\\Joseph\\Desktop\\projects-by-language\\python\\assignments\\backtesting'

In [3]:
# define sp-futures directory
directory = 'C:\\Users\\Joseph\\Desktop\\projects-by-language\\python\\assignments\\backtesting\\data\\sp-futures'

In [4]:
# import data
price_data = pd.read_csv('C:\\Users\\Joseph\\Desktop\\projects-by-language\\python\\assignments\\backtesting\\data\\sp-futures\\SP00H.txt')

In [5]:
# scope data 
price_data.head()

         Date    Open    High     Low   Close  Volume  OpenInt
0  03/23/1998  1193.5  1193.5  1193.5  1193.5       0        0
1  03/24/1998  1202.8  1202.8  1202.8  1202.8       0        0
2  03/25/1998  1208.0  1208.0  1199.7  1199.7       2        1
3  03/26/1998  1198.8  1198.8  1198.8  1198.8       0        1
4  03/27/1998  1195.5  1195.5  1195.5  1195.5       0        1

In [6]:
# get var info
price_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 7 columns):
Date       502 non-null object
Open       502 non-null float64
High       502 non-null float64
Low        502 non-null float64
Close      502 non-null float64
Volume     502 non-null int64
OpenInt    502 non-null int64
dtypes: float64(4), int64(2), object(1)
memory usage: 27.5+ KB

In [7]:
# combine all data files
tmp_df = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume", "OpenInt"])
for filename in os.listdir(directory):
    price_dat = pd.read_csv(directory + '\\' + filename, header=0, names=["Date", "Open", "High", "Low", "Close", "Volume", "OpenInt"])
    tmp_df = pd.concat([tmp_df, price_dat], axis=0, ignore_index=True)
compiled_data = tmp_df

In [8]:
# scope compiled data
compiled_data.head()

         Date    Open    High     Low   Close Volume OpenInt
0  03/23/1998  1193.5  1193.5  1193.5  1193.5      0       0
1  03/24/1998  1202.8  1202.8  1202.8  1202.8      0       0
2  03/25/1998  1208.0  1208.0  1199.7  1199.7      2       1
3  03/26/1998  1198.8  1198.8  1198.8  1198.8      0       1
4  03/27/1998  1195.5  1195.5  1195.5  1195.5      0       1

In [9]:
# check info
compiled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24136 entries, 0 to 24135
Data columns (total 7 columns):
Date       24136 non-null object
Open       24136 non-null float64
High       24136 non-null float64
Low        24136 non-null float64
Close      24136 non-null float64
Volume     24136 non-null object
OpenInt    24136 non-null object
dtypes: float64(4), object(3)
memory usage: 1.3+ MB

In [10]:
# export comipled data to csv
compiled_data.to_csv('C:\\Users\\Joseph\\Desktop\\projects-by-language\\python\\assignments\\backtesting\\data\\sp-futures.csv')