In [1]:
# import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
# get directory
os.getcwd()

'C:\\Users\\Joseph\\Desktop\\projects-by-language\\python\\assignments\\backtesting'

In [9]:
# get sp-futures data
sp_futures_data = pd.read_csv('C:\\Users\\Joseph\\Desktop\\projects-by-language\\python\\assignments\\backtesting\\data\\sp-futures.csv')

In [10]:
# scope data
sp_futures_data.head()

         Date    Open    High     Low   Close  Volume  OpenInt
0  03/23/1998  1193.5  1193.5  1193.5  1193.5       0        0
1  03/24/1998  1202.8  1202.8  1202.8  1202.8       0        0
2  03/25/1998  1208.0  1208.0  1199.7  1199.7       2        1
3  03/26/1998  1198.8  1198.8  1198.8  1198.8       0        1
4  03/27/1998  1195.5  1195.5  1195.5  1195.5       0        1

In [11]:
# check info
sp_futures_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24136 entries, 0 to 24135
Data columns (total 7 columns):
Date       24136 non-null object
Open       24136 non-null float64
High       24136 non-null float64
Low        24136 non-null float64
Close      24136 non-null float64
Volume     24136 non-null int64
OpenInt    24136 non-null int64
dtypes: float64(4), int64(2), object(1)
memory usage: 1.3+ MB